
body {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  margin: 0 auto;
  font-family: cursive ;
  text-align: center;
  width: 800px;
  padding: 20px;
}


.gameTitle {
  text-align: center;
  color :rgb(232, 43, 178);

}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
footer {
  text-align: center;
}

.gameBoard {
  display: grid;
  font-size: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  height: 300px;
  width: 300px;
  margin-left: 250px;
  color: rgb(232, 43, 178) ;
}
#message {
  font-size: 20px;
  font-family: fantasy;
  color :rgb(232, 43, 178);
  font-weight: bold ;
  animation: blinking 3s infinite;
}
.gameWinner {
  font-size: 20px;
  font-family: fantasy;
  color :rgb(232, 43, 178);
  font-weight: bold ;
}
@keyframes blinking {
  80% {
    opacity: 0;
    }
}
.xbtn {
  background-color: greenyellow;
  border-radius: 8px;
  color: navy;
  height: 30px;
  width: 30px;
  margin: 10px;
}
.obtn {
  background-color: greenyellow;
  border-radius: 8px;
  color: navy;
  font-weight: bolder;
  height: 30px;
  width: 30px;
  margin: 10px;
}
.restartBtn {
  background-color: greenyellow;
  border-radius: 9px;
  height: 30px;
  color: navy;
  font-weight: bolder;
}
#player1Name, #player2Name {
  background-color: powderblue;
  color: navy;
  width: 170px;
}

#box1, #box2, #box4, #box5, #box7, #box8 {
  border-right: 5px solid black;
}
#box4, #box5, #box6, #box7, #box8, #box9 {
  border-top: 5px solid black;
}
